<configuration>
<!-- Disable logback own logging -->
	<statusListener
		class="ch.qos.logback.core.status.NopStatusListener" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">     <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80}:%L | %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- log level should only be changed for troubleshooting unit tests -->

	<root level="OFF">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>