<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <mirrors>
        <mirror>
            <id>jcat-arm</id>
            <mirrorOf>*,!sonar,!5g-sc-maven</mirrorOf>
            <url>https://arm.rnd.ki.sw.ericsson.se/artifactory/proj-jcat-release/</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
	          <id>5g-sc-maven</id>
	          <username>eiffelesc</username>
	          <password>AP3WhHqjixMo3iChfy5jBeq8qfVnzqsfQLxzLW</password>
        </server>
        <server>
            <id>jcat-arm-release</id>
            <username>jcat_local</username>
            <password>APXdRQ8M2vQbBJVENhpYGyq6eg</password>
            <filePermissions>775</filePermissions>
            <directoryPermissions>775</directoryPermissions>
        </server>
        <server>
            <id>jcat-arm-snapshot</id>
            <username>jcat_local</username>
            <password>APXdRQ8M2vQbBJVENhpYGyq6eg</password>
            <filePermissions>775</filePermissions>
            <directoryPermissions>775</directoryPermissions>
        </server>
        <server>
            <id>jcat</id>
            <username>jcatfw</username>
            <password>gefeSESux7vavegu</password>
            <filePermissions>775</filePermissions>
            <directoryPermissions>775</directoryPermissions>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default-repo</id>
	        <repositories>
	            <repository>
		            <id>5g-sc-maven</id>
		            <name>5g-sc-maven</name>
		            <url>https://arm.seli.gic.ericsson.se/artifactory/proj-5g-sc-maven-dev-local</url>
		        </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>jcat-arm-release</id>
                    <name>proj-jcat-release</name>
                    <url>https://arm.rnd.ki.sw.ericsson.se/artifactory/proj-jcat-release</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>jcat-arm-snapshot</id>
                    <name>proj-jcat-dev</name>
                    <url>https://arm.rnd.ki.sw.ericsson.se/artifactory/proj-jcat-release</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>jcat-arm-release</id>
                    <name>proj-jcat-release</name>
                    <url>https://arm.rnd.ki.sw.ericsson.se/artifactory/proj-jcat-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>jcat-arm-snapshot</id>
                    <name>proj-jcat-dev</name>
                    <url>https://arm.rnd.ki.sw.ericsson.se/artifactory/proj-jcat-release</url>
                </pluginRepository>
            </pluginRepositories>
	    </profile>
	    <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>https://codeanalyzer2.internal.ericsson.com/</sonar.host.url>
                <sonar.login>squ_3e9746635fe692657ec250db9b9c5f1a31cee778</sonar.login>
                <sonar.projectName>sc-hcagent</sonar.projectName>
                <sonar.projectVersion>latest</sonar.projectVersion>
                <sonar.scm.provider>git</sonar.scm.provider>
                <sonar.qualitygate.wait>true</sonar.qualitygate.wait>
            </properties>
        </profile>
	</profiles>
    <activeProfiles>
        <activeProfile>default-repo</activeProfile>
    </activeProfiles>
</settings>
